name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-update-manifests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: gabrielchialle/hello-app:latest

      - name: Clone manifests repo via HTTPS
        run: |
          git clone https://${{ secrets.MANIFESTS_PAT }}@github.com/GabrielChialle/hello-manifests.git
        working-directory: ${{ github.workspace }}

      - name: Update image tag in deployment
        run: |
          cd hello-manifests
          sed -i "s#image: gabrielchialle/hello-app:.*#image: gabrielchialle/hello-app:latest#g" deployment.yaml

      - name: Commit and push changes
        run: |
          cd hello-manifests
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add .
          git commit -m "Update image to latest"
          git push origin main
